<div class = "container">
  <%= link_to image_tag("potluck.jpg", :class => "main-img") %>

  <div class = "form-inline">
    <%= form_for :user, url: '/users' do |f| %>
      <p>What are you bringing?</p>
      <%= f.text_field :password, :class => "form-text", :placeholder => " Killer Mac & Cheese" %>
      <%= f.submit "Go", :class => "sign-button" %>
    <% end %>
  </div>
</div>
