<div class = "container">
  <h3>All events</h3>
  <table class = "table table-condensed table-hover table-responsive">
    <tr class = "info">
      <th>Event</th>
      <th>Date</th>
    </tr>
  <% @events.each do |event| %>
  <tr>
   <td><%= link_to event.title, event_path(event) %> </td>
    <td><%=event.date.strftime("%B")%> <%=event.date.strftime("%d")%> </td>
  <% end %>
</table>
    </tr>
</div>
