/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  font-size: 20px;
   background: url('/assets/corn_salad.jpg');
    background-position: center center;
  background-repeat: no-repeat;
   background-size: cover;
}

a {
  color: black;
}

.no-background {
  background-image: none;
  background-color: white;
}

.user-form {
  max-width: 80%;
}
.main-img {
  /* Set rules to fill background */
  min-height: 90%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: absolute;
  top: 53px;
  left: 0;
}

.form-inline {
  top: 62%;
  left: 28%;
  position: absolute;
  background: rgba(0, 0, 0, 0.75);
  color: white;
  font-size: 30px;
  padding: 10px 100px 20px 100px;
  font-family: "Lora";
}

.form-text {
  color: black;
}

.sign-button {
  background-color: rgb(226, 69, 224);
  font-family: "Lora";
}

.btn  {
  background: rgba(195, 28, 187, 0.7);
  border-color: rgb(214, 105, 221);
  font-size: 20px;;
}

.outdoor-potluck {
  max-width: 64%;
  max-height: 70%;
  border-radius: 10%;
  float: right;
  position: relative;
  margin-right: 10px;
}

.two-column {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  -webkit-column-width: 150px;
  -moz-column-width: 150px;
  column-width: 160px;
}

.jumbotron {
  background: rgba(148, 148, 148, 0.35);
  max-width: 75%;
}

.react {
  background-image: none;
  background-color: white;
}

.add-item {
  text-align: left;
  margin-left: 20%;
  font-size: 16px;
  padding: 10px 10px 20px 10px;
  font-family: "Lora";
}

